---

---

<section class="">
    <h1 class="text-5xl font-bold mb-6 tracking-tight">REACH OUT:</h1>

    <p class="text-2xl text-white/80 mb-8">
        Got a question, a collaboration idea, or just want to say hi? I’d love
        to hear from you. Choose your method of contact below.<br />
        No spam bots, please.
    </p>

    <ul class="space-y-4 text-2xl">
        <li>
            <p
                class="inline-flex items-center gap-2 text-white/90 hover:text-white transition-colors"
            >
                <span class="underline underline-offset-2"
                    >xandwrp at gmail dot com</span
                >
            </p>
        </li>

        <li>
            <a
                href="https://github.com/xandwr"
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center gap-2 text-white/90 hover:text-white transition-colors"
            >
                <span class="underline underline-offset-2"
                    >github.com/xandwr</span
                >
            </a>
        </li>
    </ul>

    <p class="mt-12 text-md text-white/50">
        Or send a carrier pigeon. I respect the hustle.
    </p>
</section>
