---
const { siteTitleNew = "xandwrland" } = Astro.props;
---

<header class="mb-8 border-b border-gray-700 pb-4">
    <h1 class="text-5xl font-bold tracking-tight">
        <a href="/home" class="hover:text-sky-400 transition">{siteTitleNew}</a>
    </h1>
    <nav class="mt-2 space-x-4 text-2xl text-gray-300">
        <a href="/home" class="hover:text-white">home</a>
        <a href="/projects" class="hover:text-white">projects</a>
        <a href="/about" class="hover:text-white">about</a>
        <a href="/posts" class="hover:text-white">posts</a>
        <a href="/contact" class="hover:text-white">contact</a>
    </nav>
</header>
